@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

:root {
    --cor-primaria: #B95E82; 
    --cor-secundaria: #FFECC0;
}

.menu {
    display: flex;
    gap: 160px;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-primaria);
    padding: 0px 0px 40px 0;
    
}

.menu-opcao {
    color: var(--cor-secundaria);
    padding: 10px;
    font-size: 2rem;
    font-family: "Dosis", sans-serif;
    
}

.menu-opcao:hover {
    transform: scale(1.1);
    text-decoration: underline;
}


.capa {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--cor-primaria);
    
}

.titulo {
    position: relative;
    display: flex;
    justify-content: center;
    top: 200px;
    font-size: 5rem;
    font-family: "Dosis";
    color: var(--cor-secundaria);

}

.cookie-header-esquerda {
    transform: translateX(180px) scale(1.5);
}

.cookie-header-direita {
    transform: translateX(-185px) scale(1.5);
}

.produtos {
    height: 100vh;
}

.sobre-mim {
    height: 100vh;
}


@media screen and (max-width: 480px) {
    .menu {
        gap: 15px;
    }

    .menu-opcao {
        font-size: 1.5rem;
    }

    .capa {
        width: 100%;
        align-items: center;
    }

    .cookie {
        width: 200px;
    }

    .cookie-header-esquerda {
        transform: translateX(104px) scale(1.7);
    }
    .cookie-header-direita {
        transform: translateX(-100px) scale(1.7);
}


    .titulo {
        font-size: 3rem;
        top:130px;
    }
}